<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
    </head>
    <body>
        <h1>PlayGround </h1>

        <ul>

        <% for(let i=1;i<6;i++) { %>

            <li>
                <%= i%>
            </li>

        <% } %>
        </ul>

        <% if(true){ %>
            <h1>I am True</h1>

        <% }else { %>
            <h1>I am False</h1>
        <% }%>

        
    </body>
</html>